h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

.Post-1 {
    color: aliceblue;
    background-color: #34495E;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid;
    border-color: black;
    border-radius: 20px;
}

.Post-2 {
    color: aliceblue;
    background-color: #34495E;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid;
    border-color: black;
    border-radius: 20px;
}

.Post-3 {
    color: aliceblue;
    background-color: #34495E;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid;
    border-color: black;
    border-radius: 20px;
}

.Post-4 {
    color: aliceblue;
    background-color: #34495E;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid;
    border-color: black;
    border-radius: 20px;
}

p {}

img {
    width: 300px;
    margin-top: 40px;
    padding-left: ;
    padding-right: ;
    padding-top: ;
    padding-bottom: ;

}