h1 {
    color: blue;
    font-size: 48px;
    text-align: center;
    background-color: goldenrod;
    margin-bottom: 30px;
}

.Post-1 {
    background-color: blueviolet;
    margin-bottom: 30px;
    padding: 25px;
    border: 5px solid; border-color: black; border-radius: 21px;
}

.Post-2 {
    background-color: aquamarine;
    margin-bottom: 30px;
    padding: 25px;
    border: 5px solid; border-color: #e80808; border-radius: 21px;
}

.Post-3 {
    background-color: brown;
    margin-bottom: 30px;
    padding: 25px;
    border: 5px solid; border-color: #12d312; border-radius: 21px;
}

p {}

img {
    width: 400px;
    margin-top: 40px;
    padding-left: ;
    padding-right: ;
    padding-top: ;
    padding-bottom: ;

}