* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {}

.container {
    display: flex;
    margin: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 90%;
    background-color: rgba(4, 252, 45, 0.676);
    border-radius: 8px;
    box-shadow: 0 0 1px 1px rgb(72, 61, 61);


}

.container-1 {
    margin-bottom: 20px;
    justify-content: center;

}

.container-2 {
    margin-bottom: 20px;
    justify-content: space-between;
}

.container-3 {
    margin-bottom: 20px;
    justify-content: center;
}



.item {
    width: 200px;
    height: 200px;
    margin: 10px;
    aspect-ratio: 16/9;
    background-color: rgb(213, 251, 1);
    background-size: cover;
    background-repeat: no-repeat;

}

.cub-6,
.cub-7,
.cub-8,
.cub-9,
.cub-10,
.cub-11 {
    width: 350px;
    height: 200px;
    background-color: rgb(213, 251, 1);
    margin: 10px;
}

.item:hover {
    transform: scale(1.05);
    transform: rotate(5deg);
    transition: 1s;
}

