* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section {
    width: 30%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
button {
    width: 100%;
    padding: 15px 40px;
    font-size: 24px;
    color: white;
    background-color: seagreen;
    border: none;
    outline: none;
    margin: 10px;
}
button:hover {
    background-color: rgb(27, 116, 65);
}
button:active { /* active - пседвдокласс, отвечает за специальное состояние при клике на кнопку */
    transform: scale(1.05);
    background-color: rgb(129, 115, 255);
    
}
div {
    background-color: green; /* цвет фона */
    background-image: url(./images/img1.jpg); /* картинка фона */
    background: url(./images/img1.jpg) green; /* фон (и цвет, и картинка, и размер фона) */
}
